.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* =================================
   MINI LOADER
================================= */

.mini-loader {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  border: 0.15rem solid var(--border-color);
  border-top: 0.15rem solid var(--primary-color);

  border-radius: 50%;
  animation: mini-spin 0.7s linear infinite;

  vertical-align: middle;
  margin-left: 0.5rem;
}

/* Spinner animation */
@keyframes mini-spin {
  to {
    transform: rotate(360deg);
  }
}