<div class="page-container">
  <mat-card class="form-card">
    <h2>User Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field class="full" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-checkbox formControlName="staySignedIn">
        Stay signed in
      </mat-checkbox>

      <button mat-raised-button color="primary" class="full">
        Login
      </button>

    </form>

    <div class="link-text">
      New user? <a routerLink="/register">Register</a>
    </div>
  </mat-card>
</div>