<div class="auth-wrapper">

  <div class="auth-card">

    <div class="auth-header">
      <h2>Create Account ✨</h2>
      <p>Join Personal Pages and start journaling</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-form-field class="full" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>

      <mat-form-field class="full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="full" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        @if(registerForm.get('password')?.hasError('required')){
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="full" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">

        @if(registerForm.get('confirmPassword')?.hasError('required')){
        <mat-error>Confirm password is required</mat-error>
        }

        @if(registerForm.hasError('passwordMismatch')
        && registerForm.get('confirmPassword')?.touched){
        <mat-error>Passwords do not match</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" class="register-btn" [disabled]="!registerForm.valid">
        Register
      </button>


    </form>

    <div class="link-text">
      Already registered?
      <a routerLink="/login">Login here</a>
    </div>

  </div>

</div>