body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.form-card {
  width: 420px;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.full {
  width: 100%;
}

.link-text {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.link-text a {
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
}

.cursor-pointer{
  cursor: pointer;
}

.full {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

html, body {
  overflow-x: hidden;
}

/* ================================
   THEME VARIABLES
================================ */

:root {
  --bg-color: #f5f7fa;
  --card-bg: #ffffff;
  --text-color: #222;
  --secondary-text: #666;
  --primary-color: #4a90e2;
  --border-color: #ddd;

  --font-size-base: 16px;
  --font-family-base: 'Arial', sans-serif;
}

body.dark-theme {
  --bg-color: #1e1e1e;
  --card-bg: #2b2b2b;
  --text-color: #f5f5f5;
  --secondary-text: #aaa;
  --border-color: #444;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Card Example */
.journal-card,
.profile-card {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

body {
  font-size: var(--font-size-base);
}

body.dark-theme .journal-card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

body.dark-theme textarea,
body.dark-theme .title-input {
  background: #2b2b2b;
}